* {
    margin: 0;
    padding: 0;
}
body {
}
#main_body {
    width: 99.2%;
    margin: 0 auto;
}
#top_page {
    height: 25px;
    text-align: right;
    background: rgb(73,116,164);
}
#top_page button{
	height: 20px;
	width: 70px;
	margin-top:2px;
	margin-right:15px;
	border: 0px;
	background-color: rgb(73,116,164);
	color:white;
}
#top_page button:hover {
	background-color: #01AAEE;
	cursor: pointer;
	
}

#main_menu {
    width: 100%;
}

.menulist {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    text-align: left;
    color: #000;
}
.menulist li {
    height: 24px;
    line-height: 24px;
    padding-left: 24px;
    display: block;
    position: relative;
    cursor: pointer;
    text-align: left;
}
.menulist li img {
    position: absolute;
    left: 4px;
    top: 4px;
    width: 16px;
    height: 16px;
}
.menulist li.over {
    background: url('../App/Lib/images/index/menuitem.gif') repeat-x 0px 0px;
}
.menulist li.over .menuitem-l {
    background: url('../App/Lib/images/index/menuitem.gif') repeat-x 0px -24px;
    width: 2px;
    height: 24px;
    position: absolute;
    left: 0;
    top: 0;
}
.menulist li.over .menuitem-r {
    background: url('../App/Lib/images/index/menuitem.gif') repeat-x -1px -24px;
    width: 2px;
    height: 24px;
    position: absolute;
    right: 0;
    top: 0;
}
