*{
    margin: 0;
    padding: 0;
}
body {
    padding: 5px 5px 0px 10px;
}

#main_body {
    width: 100%;
}

#top_page {
    height: 20px;
    background: #f8f8f8;
    margin-bottom: 3px;
}

#main_menu {
    width:100%;
}
