.l-table {

}

.l-table td {
    padding: 4px;
    text-align: left;
}

.l-button-submit, .l-button-reset {
    width: 80px;
    float: left;
    margin-left: 10px;
    padding-bottom: 2px;
}