/****for header.html****/
* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

#headContent {
    width: 960px;
    height: 100px;
    margin: 20px auto;
}

#headLogo {
    width: 380px;
    height: 90px;
    float: left;
    background: url("../image/header_logo.jpg");
}

#headSearch {
    margin-top: 25px;
    float: right;
}

#headMenu {
    width: 500px;
    float: right;
    border-color: #75ADE8;
    text-align: right;
}

#allContent {
    width: 960px;
    margin: 0 auto;
}

.navbar {
    width: 100%;
    height: 50px;
    *height: 34px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#75ade7', endColorstr='#9ac4ee');
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#75ade7', endColorstr = '#9ac4ee')";
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    background-image: -moz-linear-gradient(top, #75ade7, #9ac4ee);
    background-image: -ms-linear-gradient(top, #75ade7, #9ac4ee);
    background-image: -o-linear-gradient(top, #75ade7, #9ac4ee);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#75ade7), to(#9ac4ee));
    background-image: -webkit-linear-gradient(top, #75ade7, #9ac4ee);
    background-image: linear-gradient(top, #75ade7, #9ac4ee);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /*Use "background-clip: padding-box" when using rounded corners to avoid the gradient bleeding through the corners*/
    /*--IE9 WILL PLACE THE FILTER ON TOP OF THE ROUNDED CORNERS--*/
}

.nav {
}

.nav > li {
    display: block;
    float: left;
    padding: 14px 0;
    margin-left: 35px;
    margin-right: 30px;
}

.nav > li > a {
    color: #fff;
    font-size: 0.9em;
}

#login, #source-count {
    width: 210px;
    height: 280px;
    float: left;
}
#login table {
    font-size: 0.9em;
    width: 200px;
    height: 200px;
}
#captchaDiv{
    visibility: hidden;
    position: absolute;
    left: 350px;
    top: 350px;
    background: #fff;
    z-index: 9999;
}
#gallery {
    width: 510px;
    height: 280px;
    margin: 0 15px 0 15px;
    float: left;
}

.login-btn {
    padding-left: 5px;
}

.my-tab {
    margin: 0;
    padding: 12px 0 0;
    line-height: 10px;
    text-align: center;
    font-size: 0.9em;
    float: left;
    list-style: none;
    cursor: pointer;
    width: 150px;
    height: 21px;
    background: url(../image/my-tab.png);
}

.my-tab.selected {
    color: #B86364;
    font-weight: bolder;
}

.my-tabContent {
    height: 200px;
    background: #fff;
    display: none;
    border: 1px solid #75ade7;
}

.my-tabContent.selected {
    display: block;
}

.panel-head {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfeff', endColorstr='#d5edfd');
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fcfeff', endColorstr = '#d5edfd')";
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    background-image: -moz-linear-gradient(top, #fcfeff, #d5edfd);
    background-image: -ms-linear-gradient(top, #fcfeff, #d5edfd);
    background-image: -o-linear-gradient(top, #fcfeff, #d5edfd);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#fcfeff), to(#d5edfd));
    background-image: -webkit-linear-gradient(top, #fcfeff, #d5edfd);
    background-image: linear-gradient(top, #fcfeff, #d5edfd);
    /*--IE9 DOES NOT SUPPORT CSS3 GRADIENT BACKGROUNDS--*/

    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    border: 1px solid #75ade7;
    height: 33px;
    line-height: 30px;
    font-size: 0.9em;
}

.panel-head-icon {
    background: url('../image/panel-head-icon-arrow.png');
    margin: 6px 15px 0 10px;
    height: 16px;
    width: 16px;
    float: left;
}

label {
    margin: 0 0 .3em;
    /*display: block;*/
    color: #555;
    font-family: "宋体", sans-serif;
    font-size: .875em;
}

.panel-content {
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    border: 1px solid #75ade7;
    border-top: 0;
    height: 243px;
    padding: 13px;
}

.panel-content div {
    margin-top: 5px;
}

.panel-content input {
    width: 128px;
    height: 34px;
    display: inline;
    *padding: 0;
}

.btn-login-icon, .btn-register-icon {
    display: inline-block;
    float: left;
    width: 23px;
    height: 18px;
    margin-top: 1px;
}

.btn-login-icon {
    background: url("../image/btn-login-icon.png");
}

.btn-register-icon {
    background: url("../image/btn-register-icon.png");
    width: 18px;
    margin-right: 5px;
}

.btn-blue-border {
    border: 1px solid #75ade7;
}

.p-small-font {
    font-size: 0.7em;
}

.align-right {
    text-align: right;
}

#source-count ul li {
    font-family: "微软雅黑", Yahei, "宋体", sans-serif;
    list-style: none;
    margin-bottom: 20px;
    font-size: 0.8em;
}

#topic .panel-content {
    height: 358px;
    padding: 0;
}

#topic table {
    width: 961px;
}
#topic table tr td {
    padding: 10px;
    height: 159px;
    width: 323px;
    border: 1px dashed #aaa;
    border-top: 0;
    border-left: 0;
}

#topic table tr td img {
    width: 150px;
    height: 150px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
}

.topic-item {
    float: right;
    width: 133px
}

.topic-title {
    font-size: 0.9em;
    font-weight: bolder;
    color: #333;
}

.topic-title:hover {
    color: #c00;
}

.topic-description {
    font-size: 0.8em;
    color: #666;
}

.subject-item table {
    padding: 5px 10px;
    border: 0;
    width: 320px;
    height: 100px;
    font-size: 0.8em;
    text-align: center;
}
.subject-item {
    border: 1px dashed #aaa;
    border-top: 0;
    border-left: 0;
    width: 320px;
    height: 100px;
}
.subject-item img{
    width: 80px;
    height: 80px;
}
.tabGroupItem>div>div>table{
    border-collapse:collapse;
    width: 100%;
    height: 101%;
}
.tabGroupItem a>div {
    height: 24px;
    width: 34px;
    background: url(../image/tab_left.png);
    float: left;
    padding-left: 26px;
    padding-top: 10px;
    font-size: 0.9em;
    color:#B86364;
    font-weight: bolder;
}
#topic-content>div>table{
    border-collapse:collapse;
}
/**topic view**/
#topic-view {
    width: 960px;
    margin: 0 auto;
}

.topic-info {
    padding: 25px 30px 25px 30px;
}

.topic-image {
    width: 150px;
    text-align: center;
    font-size: 0.8em;
    float: left;
}

.topic-image > img {
    width: 150px;
    height: 150px;
}

.topic-view-description {
    margin: 0 30px 0 30px;
    float: left;
    width: 430px;
    color: #666;
    font-size: 0.8em;
}

.topic-view-description > div {
    margin-bottom: 30px;
}

.topic-user {
    border: 1px solid #75ade7;
    width: 250px;
    height: 110px;
    padding: 0;
    float: left;
    cursor: pointer;
}

.topic-user:hover {
    background-color: #f1f1f1;
}

.topic-user > img {
    width: 70px;
    height: 70px;
    margin: 20px;
    float: left;
}

.topic-user-info {
    margin-top: 25px;
    float: left;
    width: 120px;
    font-size: 0.8em;
}

.topic-user-info > p {
    margin: 15px 0 5px 0;
}

.subtopic {
    width: 120px;
    border-color: #75ade7;
}

.topic-resource-content {
    border-bottom: 1px dotted #ddd;
    border-top: 1px dotted #ddd;
    padding: 3px 60px;
    font-size: 0.8em;
}

.topic-resource-content:hover {
    background-color: #d4d5d5;
}

.topic-resource-content span {
    color: #666;
}

.topic-resource-btn {
    display: none;
}

.topic-view-btn {
    display: block;
}
/**topic view**/
/**topic source**/
#topic-source {
    width:960px;
    margin: 0 auto;
}
#topic-source-content {
    padding: 0;
}
#topic-source-content div{
    margin: 0;
}
#topic-source-content>div>table {
    border-collapse:collapse;
    width: 101%;
}
#topic-source-content>div>table tr>td{
    padding: 15px;
    height: 85px;
    width: 210px;
    border: 1px dashed #aaa;
    border-top: 0;
    border-left: 0;
}
#topic-source-content img {
    width: 70px;
    height: 70px;
}
.topic-source-item {
    float: right;
    width: 130px;
}
/**topic source**/
/**gallery**/
#n {
    margin: 10px auto;
    width: 920px;
    border: 1px solid #CCC;
    font-size: 12px;
    line-height: 30px;
}

#n a {
    padding: 0 4px;
    color: #333
}

.container {
    width: 510px;
    height: 280px;
    overflow: hidden;
}

.container A IMG {
    width: 510px;
    height: 280px;
}

.container IMG {
    border-style: none;
}

.td_f A IMG {
    margin: 0;
    padding: 0;
}

.num {
    position: absolute;
    width: 120px;
    float: right;
    top: 245px;
    left: 368px;
    height: 19px;
}

.num LI {
    text-align: center;
    line-height: 15px;
    list-style-type: none;
    margin: 1px;
    width: 15px;
    background: url(../image/flashbutton.gif) no-repeat -15px 0;
    float: left;
    height: 15px;
    color: #86a2b8;
    font-size: 12px;
    cursor: pointer
}

.num LI.on {
    line-height: 15px;
    width: 15px;
    background: url(../image/flashbutton.gif) no-repeat;
    height: 15px;
    color: #ffffff;
}

/**gallery**/
/**news view**/
#news-view-panel {
    float: left;
}

#hot-news-panel {
    float: right;
}

.news-title {
    text-align: center;
}

.news-title h5 {
    margin-right: 30px;
    display: inline;
}
.news-content {
    padding: 20px;
}
.hot-news-content {
    list-style: none;
    font-size: 0.9em;
}
.hot-news-content li{
    margin-bottom: 10px;
    height: 26px;
    overflow: hidden;
    line-height:26px;
    padding-left: 10px;
    background: url(../image/icon.png) no-repeat;
}
/**news view**/
/**online source view**/
#online-view-panel {
    float: left;
}
#comment-panel {
    margin-top: 20px;
    float: left;
}
#source-info-panel {
    float: right;
}
#webPlayer {
    width: 600px;
    height: 500px;
    padding: 10px;
}
#source-info-content {
     font-size: 0.8em;
 }
#source-info-content tr{
    height: 30px;
}
.comment-item,.comment-sub-item {
    margin: 15px 0;
    font-size: 0.9em;
    border-bottom: 1px solid #eee;
}
.comment-item td,.comment-sub-item td{
    padding-left: 20px;
}
.comment-item a,.comment-sub-item a{
    margin-left: 50px;
    visibility: hidden;
}
.comment-item:hover a,.comment-sub-item:hover a{
    visibility: visible;
}
.comment-item img,.comment-sub-item img{
    width: 45px;
    height: 45px;
}
.comment-sub-item {
    margin-left:40px;
}
/**online source view**/
/**choose view**/
.choose-list>ul>li {
    float: left;
    margin-left: 25px;
    width: 90px;
    height: 20px;
    padding-top: 5px;
    font-size: 0.9em;
}
.more {
    cursor: pointer;
    margin: 0 auto;
    width: 50px;
    height: 20px;
    background: url(../image/arrow_down.png) no-repeat;
    opacity: 0.6;
}
.more:hover {
    opacity: 1;
}
/**choose view**/